.App {
  text-align: center;
}


.chart-container {
  width: 500px; /* Adjust the width as needed */
  height: 303px; /* Adjust the height as needed */
  margin: auto;
  /* background-color: rgb(247, 110, 60); */
}
.doughnut-chart-container{
  display: flex;
  justify-content: space-between;
}
